* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --text-color: #f5f5f5;
  --bg-color: #0f0f0f;
  --line-color-1: #666;
  --line-color-2: #333;
  --dynamic-rotateX: calc(-10deg * (100vh / 100));
}

@font-face {
  font-family: "nabla";
  src: url("../fonts/nabla.ttf") format("truetype");
}

@font-palette-values --value-0 {
  font-family: nabla;
  base-palette: 0;
}

@font-palette-values --value-1 {
  font-family: nabla;
  base-palette: 1;
}

@font-palette-values --value-2 {
  font-family: nabla;
  base-palette: 2;
}

@font-palette-values --value-3 {
  font-family: nabla;
  base-palette: 3;
}

@font-palette-values --value-4 {
  font-family: nabla;
  base-palette: 4;
}

@font-palette-values --value-5 {
  font-family: nabla;
  base-palette: 5;
}

@font-palette-values --value-6 {
  font-family: nabla;
  base-palette: 6;
}

@font-face {
  font-family: "honk";
  src: url("../fonts/honk.ttf") format("truetype");
}

@font-face {
  font-family: "mochi";
  src: url("../fonts/mochi.ttf") format("truetype");
}

body,
main {
  color: var(--text-color);
  background-color: var(--bg-color);
  overflow: hidden;
}

.scroll-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100%;
  height: 100vh;
  height: 100dvh;
}

section {
  scroll-snap-align: start;
  background-blend-mode: color-dodge;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  background-image: conic-gradient(
      at calc(100% - 2px) calc(100% - 2px),
      var(--line-color-1) 270deg,
      #0000 0
    ),
    conic-gradient(
      at calc(100% - 1px) calc(100% - 1px),
      var(--line-color-2) 270deg,
      #0000 0
    );
  background-size: 100px 100px, 20px 20px;
}

p,
h2 {
  font-family: "mochi", sans-serif;
  text-align: center;
}

h2 {
  padding: 1vmax;
  font-size: calc(2rem + 1vw);
}

p {
  font-size: calc(0.8rem + 1vw);
}

.home {
  align-content: center;
}

body.chrome .wave-text h1 {
  font-family: "nabla", sans-serif;
  font-size: calc(1rem + 9vw);
  display: flex;
  justify-content: center;
}

.wave-text h1 {
  font-family: "Honk", sans-serif;
  font-size: calc(1rem + 9vw);
  display: flex;
  justify-content: center;
}

.wave-text span {
  display: inline-block;
  animation: wave 2.5s infinite;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

.wave-text span:nth-child(1) {
  animation-delay: 0s;
}

.wave-text span:nth-child(2) {
  animation-delay: 0.1s;
}

.wave-text span:nth-child(3) {
  animation-delay: 0.2s;
}

.wave-text span:nth-child(4) {
  animation-delay: 0.3s;
}

.wave-text span:nth-child(5) {
  animation-delay: 0.4s;
}

.wave-text span:nth-child(6) {
  animation-delay: 0.5s;
}

.wave-text span:nth-child(7) {
  animation-delay: 0.6s;
}

.wave-text span:nth-child(8) {
  animation-delay: 0.7s;
}

.wave-text span:nth-child(9) {
  animation-delay: 0.8s;
}

.wave-text span:nth-child(10) {
  animation-delay: 0.9s;
}

.wave-text span:nth-child(11) {
  animation-delay: 1s;
}

.wave-text span:nth-child(12) {
  animation-delay: 1.1s;
}

.wave-text span:nth-child(13) {
  animation-delay: 1.2s;
}

.motd {
  padding: 0 5vw;
}

.arrow {
  animation: hovering 2.5s infinite;
  font-size: 7vmin;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.banner {
  top: -26vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.banner .slider {
  width: 10vmax;
  height: 10vmax;
  transform-style: preserve-3d;
  transform: perspective(100vw);
  animation: autoRun 20s linear infinite;
}

.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(37vw);
}

.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner .slider .item img:hover {
  filter: brightness(0.7);
}

.scrolling {
  margin-top: 1vw;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

footer P {
  font-size: calc(0.5rem + 0.5vw);
}

@keyframes wave {
  0%,
  100% {
    font-variation-settings: "EDPT" 100;
  }
  50% {
    font-variation-settings: "EDPT" 200;
  }
}

@keyframes autoRun {
  from {
    transform: perspective(100vw) rotateX(-10deg) rotateY(0deg);
  }
  to {
    transform: perspective(100vw) rotateX(-10deg) rotateY(360deg);
  }
}

@keyframes hovering {
  0%,
  100% {
    transform: translateY(5px) rotate(180deg);
  }
  50% {
    transform: translateY(15px) rotate(180deg);
  }
}

@media only screen and (min-width: 1000px) {
  .socials ul {
    margin: 0 15vw;
  }
}

.aboutMe {
  height: 65vh;
  align-content: center;
  padding: 0 5vw;
}

.aboutMeBody {
  padding: 3vh 0;
}

@keyframes rainbow {
  0% {
    color: #e81416;
  }
  14% {
    color: #ffa500;
  }
  28% {
    color: #faeb36;
  }
  42% {
    color: #79c314;
  }
  57% {
    color: #487de7;
  }
  71% {
    color: #4b369d;
  }
  85% {
    color: #70369d;
  }
  100% {
    color: #e81416;
  }
}
.rainbow {
  animation: rainbow 10s infinite;
}

section {
  transition: filter 0.5s ease; /* Adjust duration and easing as desired */
}
