<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="ようこそ" />
    <meta name="keywords" content="dutchcalcifer" />
    <meta name="author" content="dutchcalcifer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>dutchcalcifer</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="icon" type="image/x-icon" href="./media/favicon.ico" />
  </head>
  <body>
    <main>
      <div class="scroll-container">
        <section class="home">
          <h2>500</h2>
          <p>something went wrong!</p>
        </section>
      </div>
    </main>
    <%- include ("../partials/footer.ejs") %>
  </body>
</html>
