<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="My favorite everything." />
    <meta name="keywords" content="dutchcalcifer, favorites" />
    <meta name="author" content="dutchcalcifer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>favorites</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="icon" type="image/x-icon" href="./media/favicon.ico" />
  </head>
  <body>
    <%- include ("../partials/header.ejs") %>
    <main>
      <section>
        <h2>ゲーム</h2>
        <ul>
          <li>Grand Theft Auto: SA, IV & V</li>
          <li>Undertale & Deltarune</li>
          <li>Metro Redux & Exodus</li>
          <li>Final Fantasy XIV</li>
          <li>Cyberpunk 2077</li>
        </ul>
      </section>
      <section>
        <h2>芸術家</h2>
        <ul>
          <li>Tyler, The Creator</li>
          <li>Kendrick Lamar</li>
          <li>Tame Impala</li>
          <li>Kanye West</li>
          <li>JPEGMAFIA</li>
        </ul>
      </section>
    </main>
    <%- include ("../partials/footer.ejs") %>
  </body>
</html>
