<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="My setup." />
    <meta name="keywords" content="dutchcalcifer, setup" />
    <meta name="author" content="dutchcalcifer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>setup</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="icon" type="image/x-icon" href="./media/favicon.ico" />
  </head>
  <body>
    <%- include ("../partials/header.ejs") %>
    <main>
      <section>
        <h2>パソコン</h2>
        <ul>
          <li>32GB DDR4 3600mhz</li>
          <li>RTX 3060 Ti OC</li>
          <li>Ryzen 5 5600X</li>
        </ul>
      </section>
    </main>
    <%- include ("../partials/footer.ejs") %>
  </body>
</html>
