<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="ようこそ" />
    <meta name="keywords" content="dutchcalcifer" />
    <meta name="author" content="dutchcalcifer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>dutchcalcifer</title>
    <link rel="stylesheet" href="./css/style.css" />
    <script src="./scripts/script.js"></script>
    <link rel="icon" type="image/x-icon" href="./media/favicon.ico" />
  </head>
  <body>
    <main class="scroll-container">
      <section class="home">
        <div class="wave-text">
          <h1 style="font-palette: <%= randomPalete %>">
            <span>d</span>
            <span>u</span>
            <span>t</span>
            <span>c</span>
            <span>h</span>
            <span>c</span>
            <span>a</span>
            <span>l</span>
            <span>c</span>
            <span>i</span>
            <span>f</span>
            <span>e</span>
            <span>r</span>
          </h1>
        </div>
        <p class="motd">"<%= randomMessage %>"</p>
        <div class="scrolling">
          <p>scroll down</p>
          <p class="arrow" id="arrow">&#8682;</p>
        </div>
      </section>
      <section>
        <h2>about me</h2>
        <div class="aboutMe">
          <p>Welcome to my amazing website (perpetually WIP)</p>
          <p>I'm Dante!</p>
          <p>22 • male • gay</p>
          <p></p>
          <p class="aboutMeBody">
            I study web design / development in the Netherlands and I’m
            currently on exchange in America. In my free time I like to play
            video games, watch anime, and go airsofting. I love to make new
            friends, so don’t be scared to add me on Discord or Telegram.
          </p>
          <p>
            Don’t worry, there is more if you keep scrolling
            <span class="rainbow">^w^</span>
          </p>
        </div>
      </section>
      <section>
        <h2>socials</h2>
        <div class="banner">
          <ul class="slider" style="--quantity: 6">
            <li class="item" style="--position: 1">
              <a
                href="https://discord.com/invite/ygBsJ3wzYy"
                target="_blank"
                title="Discord server"
              >
                <img src="./media/discord.webp" alt="Discord logo" />
              </a>
            </li>
            <li class="item" style="--position: 2">
              <a
                href="https://na.finalfantasyxiv.com/lodestone/character/22215742/"
                target="_blank"
                title="Final Fantasy XIV character"
              >
                <img src="./media/ffxiv.webp" alt="Final Fantasy XIV logo" />
              </a>
            </li>
            <li class="item" style="--position: 3">
              <a
                href="https://music.apple.com/nl/playlist/bangers/pl.u-EdAVk2Gta1a6vDy?l=en"
                target="_blank"
                title="Favorite music playlist"
              >
                <img src="./media/music.webp" alt="Apple Music logo"
              /></a>
            </li>
            <li class="item" style="--position: 4">
              <a
                href="https://steamcommunity.com/id/dutchcalcifer"
                target="_blank"
                title="Steam profile"
              >
                <img src="./media/steam.webp" alt="Steam logo"
              /></a>
            </li>
            <li class="item" style="--position: 5">
              <a
                href="https://x.com/dutchcalcifer"
                target="_blank"
                title="X profile"
              >
                <img src="./media/x.webp" alt="X logo"
              /></a>
            </li>
            <li class="item" style="--position: 6">
              <a
                href="https://t.me/dutchcalcifer"
                target="_blank"
                title="Telegram"
              >
                <img src="./media/telegram.webp" alt="Telegram logo" />
              </a>
            </li>
          </ul>
        </div>
      </section>
      <section>
        <div class="aboutMe">
          <p class="aboutMeBody">
            That's all for now <span class="rainbow">¯\_(ツ)_/¯</span>
          </p>
        </div>
      </section>
    </main>
    <%- include ("./partials/footer.ejs") %>
  </body>
</html>
