<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="ようこそ" />
    <meta name="keywords" content="dutchcalcifer" />
    <meta name="author" content="dutchcalcifer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>dutchcalcifer</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="icon" type="image/x-icon" href="./media/favicon.ico" />
  </head>
  <body>
    <main>
      <div>
        <h1>dutchcalcifer</h1>
        <h2>ようこそ</h2>
        <ul>
          <li>
            <a
              href="https://steamcommunity.com/id/dutchcalcifer"
              target="_blank"
              title="Steam profile"
              ><img src="./media/steam.webp" alt="Steam icon"
            /></a>
          </li>
          <li>
            <a
              href="https://discord.com/invite/ygBsJ3wzYy"
              target="_blank"
              title="Discord server"
              ><img src="./media/discord.webp" alt="Discord icon"
            /></a>
          </li>
          <li>
            <a
              href="https://na.finalfantasyxiv.com/lodestone/character/22215742/"
              target="_blank"
              title="Final Fantasy 14 profile"
              ><img src="./media/ffxiv.webp" alt="Final Fantasy 14 icon"
            /></a>
          </li>
          <li>
            <a
              href="https://x.com/dutchcalcifer"
              target="_blank"
              title="X profile"
              ><img src="./media/x.webp" alt="X icon"
            /></a>
          </li>
          <li>
            <a
              href="https://music.apple.com/nl/playlist/bangers/pl.u-EdAVk2Gta1a6vDy?l=en"
              target="_blank"
              title="favorite music playlist"
              ><img src="./media/music.webp" alt="Apple Music icon"
            /></a>
          </li>
        </ul>
      </div>
    </main>
    <%- include ("./partials/footer.ejs") %>
  </body>
</html>
