<header>
  <nav>
    <ul>
      <li><a href="/" title="home">home</a></li>
      <li><a href="/favorites" title="favorites">favorites</a></li>
      <li><a href="/setup" title="setup">setup</a></li>
    </ul>
  </nav>
</header>
